.DICE{
    height: 170px;
    background-color: chocolate;
    border-radius: 15%;
}
.DOT{
    height: 40px;
    background-color: white;
    border-radius: 50%;
}
.SPIN{
    height: 30px;
    width: 90px;
    border: 1px solid white;
    
}
.DISSAPPEAR
{
    background-color: chocolate;
}